<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Push Preview</title>
</head>
<body>
  <h1>Push Preview</h1>

  <div>
    <h3>Title</h3>
    <pre>{{ .Title }}</pre>

    <h3>Body</h3>
    <pre>{{ .Body }}</pre>
  </div>
</body>
</html>
