<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMS Preview</title>
</head>
<body>
  <h1>SMS Preview</h1>

  <div>
    <h2>Message</h2>
    <pre>{{ .Body }}</pre>
  </div>
</body>
</html>
